.board-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.board-card {
  text-align: center;
  a {
    color: white;
  }

  a:hover {
    color: $pinRed;
  }
}

.edit-link {
  color: $darkGrey;
  font-weight: bold;
  text-transform: uppercase;
}

.delete-link {
  color: $pinRed;
  font-weight: bold;
  text-transform: uppercase;
}

.pins-link {
  color: $white;
  font-weight: bold;
  text-transform: uppercase;
  background-color: $pinRed;
  padding: 5px 15px;
  border-radius: 5px;
}

.pins-link:hover {
  color: $pinRed;
  background-color: $lightgGrey;
}

.edit-link:hover {
  color: $pinRed
}

.delete-link:hover {
  color: $darkGrey
}

.card-links {
  text-align: center;
}

.card-img {
  object-fit: cover;
  background-position: center;
  width: 350px;
  height: 350px;
  position: relative;
  transition: .5s ease;
}

.card-img-board {
  object-fit: cover;
  background-position: center;
  width: 100%;
  height: 350px;
  position: relative;
  transition: .5s ease;
}

.overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  transition: .5s ease;
  color: $white;
}

.board-card:hover .card-img {
  width: 360px;
  height: 360px;
  transition: .5s ease;
}

.board-card:hover .card-img-board {
  width: 100%;
  height: 360px;
  transition: .5s ease;
}

.card-content {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;  
  padding: 20px;
}

.form-close {
  color: black !important;
  padding-top: 20px;
}